html,body {
    font-family: "Courier New", monospace;
    border: 0px;
    padding: 0;
    margin: 0;
    width:100%;
}

svg {
    background-color:#666;
}

.clip8OP {
    pointer-events:none;
    stroke: #ff8888;
    stroke-width:2;
    fill:none;
    vector-effect:non-scaling-stroke;
}

.clip8cut {
    stroke-dasharray: 6, 2;
}

.clip8alignrel {
    stroke-dasharray: 2, 4;
    marker-start:url(#clip8alignrel-start);
    marker-end:url(#clip8alignrel-end);
}


.clip8moverel {
    marker-start:url(#clip8moverel-start);
    marker-end:url(#clip8moverel-end);
}

.clip8enclose {
    stroke-dasharray: 2, 6;
}

.clip8touch {
    stroke-dasharray: 8, 2;
}

.clip8alignrel-marker {
    markerWidth:3;
    markerHeight:3;
    fill: #ff8888;
    stroke: #ff8888;
    stroke-width:4;
    orient:auto;
}

.clip8moverel-marker {
    markerWidth:3;
    markerHeight:3;
    fill: #ff8888;
    stroke: #ff8888;
    stroke-width:4;
    orient:auto;
}

.value {
    stroke: #ffffff;
}

#c8_container {
    width: 100%;
    position: relative;
}

#c8ui_controls {
    font-size: 3em;
    position: absolute;
    width:5em;
    height: 4em;
    transform: translate(0,-2em);
}

#c8ui_controls a {
    color: #e3ffe9;
    text-shadow: #000 0px 0px 2px, #b6ff8dee .2em .9em 5px;
    cursor: pointer;
    position: absolute;
}

#c8ui_play_btn {
    transition: visibility 500ms, opacity 500ms;
    left: 55%;
    top: 50%;
    transform: translate(-55%, -50%);
    margin-right: -55%;
}
#c8ui_pause_btn {
    transition: visibility 500ms, opacity 500ms;
    left: 52%;
    top: 50%;
    transform: translate(-52%, -50%);
    margin-right: -52%;
}

#c8ui_reload_btn {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: visibility 1000ms, opacity 1200ms;
    transition-timing-function: ease-in;
}
#c8ui_step_btn{
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: visibility 1000ms, opacity 1200ms;
    transition-timing-function: ease-in;
}
