html,body {
    font-family: "Courier New", monospace;
    border: 0px;
    padding: 0;
    margin: 0;
    width:100%;
}

svg {
    background-color:#666;
}

.clip8OP {
    pointer-events:none;
    stroke: #ff8888;
    stroke-width:2;
    fill:none;
    vector-effect:non-scaling-stroke;
}

.clip8cut {
    stroke-dasharray: 6, 2;
}

.clip8alignrel {
    stroke-dasharray: 2, 4;
    marker-start:url(#clip8alignrel-start);
    marker-end:url(#clip8alignrel-end);
}


.clip8moverel {
    marker-start:url(#clip8moverel-start);
    marker-end:url(#clip8moverel-end);
}

.clip8enclose {
    stroke-dasharray: 2, 6;
}

.clip8touch {
    stroke-dasharray: 8, 2;
}

.clip8alignrel-marker {
    markerWidth:3;
    markerHeight:3;
    fill: #ff8888;
    stroke: #ff8888;
    stroke-width:4;
    orient:auto;
}

.clip8moverel-marker {
    markerWidth:3;
    markerHeight:3;
    fill: #ff8888;
    stroke: #ff8888;
    stroke-width:4;
    orient:auto;
}

.value {
    stroke: #ffffff;
}


