html,body {
    font-family: "Courier New", monospace;
    border: 0px;
    padding: 0;
    margin: 0;
    width:100%;
}

svg {
    background-color:#666;
}

.clip8OP {
    pointer-events:none;
    stroke: #ff8888;
    stroke-width:2;
    fill:none;
    vector-effect:non-scaling-stroke;
}

.clip8cut {
    stroke-dasharray: 6, 2;
}

.clip8alignrel {
    stroke-dasharray: 2, 4;
    marker-start:url(#clip8alignrel-start);
    marker-end:url(#clip8alignrel-end);
}


.clip8moverel {
    marker-start:url(#clip8moverel-start);
    marker-end:url(#clip8moverel-end);
}

.clip8enclose {
    stroke-dasharray: 2, 6;
}

.clip8touch {
    stroke-dasharray: 8, 2;
}

.clip8alignrel-marker {
    markerWidth:3;
    markerHeight:3;
    fill: #ff8888;
    stroke: #ff8888;
    stroke-width:4;
    orient:auto;
}

.clip8moverel-marker {
    markerWidth:3;
    markerHeight:3;
    fill: #ff8888;
    stroke: #ff8888;
    stroke-width:4;
    orient:auto;
}

.value {
    stroke: #ffffff;
}

#c8ui_controls {
    position: relative;
    top: 1em;
    font-size: 3em;
}

#c8ui_controls a {
    position: absolute;
    color: #e3ffe9;
    text-shadow: #000 0px 0px 2px, #b6ff8dee .2em .9em 5px;
    cursor: pointer;
    display: inline-block;
    width: 2em;
    text-align: center;
}

#c8ui_reload_btn {
    right: 7.5em;
    transition: visibility 1000ms, opacity 1200ms;
    transition-timing-function: ease-in;
}
#c8ui_play_btn {
    right: 4em;
    transition: visibility 500ms, opacity 500ms;
}
#c8ui_pause_btn {
    right: 4em;
    transition: visibility 500ms, opacity 500ms;
}
#c8ui_step_btn{ right: .5em;
    transition: visibility 1000ms, opacity 1200ms;
    transition-timing-function: ease-in;
}
