code {
	font-size: 14px;
	background-color: #eee;
	color: #444;
	padding-left: 0.4em;
	border-radius: 0.5em;
	padding-right: 0.4em;
}

.chapternavtitle {
	color: #bfb;
    font-weight: normal;
}

button {
	font-size: 36px;
	text-align: center;
	vertical-align: bottom;
}

#learner-feedback {
    background: #a6cabe;
    font-weight: bold;
}

#dynamic-nextlink  {
    background: #a6cabe;
    color:#456045;
    text-align: right;
}

#filechooser { color: white; }

#erroroutput {
    color: #ff2222;
    background: #ffff88;
    font-weight: bold;
}

#hintoutput {
    color: #666666;
    background: #ffff88;
}

.pro #clip8svgroot {
    min-width: 1024px;
}

.tutorial #clip8svgroot {
    width: 100%;
}

.tutorial>.visible-for-pro {
    display: none;
}
