#filechooser { color: white; }

#erroroutput {
    color: #ff2222;
    background: #ffff88;
    font-weight: bold;
}

#hintoutput {
    color: #666666;
    background: #ffff88;
}

.pro #clip8svgroot {
    min-width: 1024px;
}

.tutorial #clip8svgroot {
    width: 100%;
}

.tutorial>.visible-for-pro {
    display: none;
}
