html,body {
    font-family: "Courier New", monospace;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1024px;
}

a:link		{ outline: none; text-decoration: none; color:#97b595; }
a:visited		{ outline: none; text-decoration: none; color:#97b595; }

h1, h2, h3, p { clear: left; }

footer {
    font-size: 0.8em;
    margin-top:3em;
}

.sectionintro p { clear: none; }

.sectionintro svg {
    background: white;
    float: left;
    margin: 10px;
    width: 40%;
}

h3 svg {
    background: white;
    height: 2em;
}

.testmetainfo {
    color: #bbb;
}

.sndtitle {
    font-weight: lighter;
}

.leftlink {
    width: 33%;
    float: left;
}

.rightlink {
    width: 33%;
    float: left;
    text-align: right;
}

.chapternavtitle {
    width: 33%;
    float: left;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.DOMreftest {
    font-size: 20px;
}

/* make sure tracesvgroot overlays svgroot with no offset */
.DOMreftest .pre-reference  { font-size: 0px; }
.DOMreftest .post-reference { font-size: 0px; }
.DOMreftest .testDOM        { font-size: 0px; }

.DOMreftest svg {
    vertical-align: middle;
}

.DOMreftest-passed {
    font-size: 25px;
    font-weight: bold;
    color: #669977;
}

.DOMreftest-failed {
    font-size: 25px;
    font-weight: bold;
    color: #ee2244;
}
