.sndtitle {
    font-weight:lighter;
}

.DOMreftest {
    font-size:20px;
}

.DOMreftest .pre-reference, .post-reference, .testDOM {
    font-size:0px;  // make sure tracesvgroot overlays svgroot with no offset
}

.DOMreftest svg {
    vertical-align: middle;
}

.DOMreftest-passed {
    font-size:25px;
    font-weight: bold;
    color: #669977;
}

.DOMreftest-failed {
    font-size:25px;
    font-weight: bold;
    color: #ee2244;
}