html,body {
    font-family: "Courier New", monospace;
    border: 0;
    padding: 0;
    margin: 0;
    width:100%;
}

a:link		{ outline: none; text-decoration: none; color:#97b595; }
a:visited 	{ outline: none; text-decoration: none; color:#adbeab; fill:#adbeab; }

h1, h2, h3, p { clear:left; }

.sectionintro svg {
    background: white;
    float: left;
    margin: 10px;
    width: 40%;
}

h3 svg {
    background: white;
    height: 2em;
}

.sndtitle {
    font-weight:lighter;
}

.leftlink {
    width:33%;
    float: left;
}

.rightlink {
    width:33%;
    float: left;
    text-align: right;
}

.chapternavtitle {
    width:33%;
    float: left;
    text-align: center;
    font-weight:bold;
    margin-bottom:50px;
}

.DOMreftest {
    font-size:20px;
}

.DOMreftest .pre-reference, .post-reference, .testDOM {
    font-size:0px;  // make sure tracesvgroot overlays svgroot with no offset
}

.DOMreftest svg {
    vertical-align: middle;
}

.DOMreftest-passed {
    font-size:25px;
    font-weight: bold;
    color: #669977;
}

.DOMreftest-failed {
    font-size:25px;
    font-weight: bold;
    color: #ee2244;
}
